<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-menu1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="{{::vm.navConfig.brandState}}">{{vm.resourceSvc.getLocalResource(vm.navConfig.brandTitleResourceKey)}}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-menu1">
            <ul class="nav navbar-nav" ng-repeat="navItem in vm.navConfig.navigationItems">
                <li><a ui-sref="{{::navItem.State}}"><i ng-if="navItem.Icon != null && navItem.Icon != ''" class="{{navItem.IconBase}} {{navItem.Icon}}"></i>{{vm.resourceSvc.getLocalResource(navItem.ResourceKey)}}</a> </li>
            </ul>
            <div class="pull-right hidden-xs company-logo-small"></div>
            <div class="pull-right language-select">
                <select class="form-control"
                        ng-model="vm.languageCode"
                        ng-options="lng.Code as lng.DisplayText for lng in vm.languageList"
                        ng-change="vm.setLanguage()"></select>
            </div>
        </div>
    </nav>
</div>