<div class="panel panel-default">
    <div class="panel-heading">
        <span>Home Title</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <h1>Hello World!</h1>
                <button type="button" class="btn btn-default" ng-click="vm.testAuthentication()">Authentication</button>
                <button type="button" class="btn btn-primary" ng-click="vm.testPostData()">Post Data</button>
            </div>
        </div>
    </div>
</div>